.speech{

    font-family: 'times new roman';

    font-size: small;

    color: black;

}
.direction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
    background-color: antiquewhite;

}

.direction:hover
{
    background-color: beige;
    color: aquamarine;
}
.mrsolness
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: blue;
}
.HILDA{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: aqua;
}
.table {
    color: rgb(41, 2, 2);
    padding: 30px 30px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 22%;
    background-color: rgb(233, 220, 243);
    border-style: solid;
    border-width: 1.9mm;
    border-radius: 2mm;
    text-align: center;

}